<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

	<h1>Reset Password</h1>

	<p>
	  You want to reset password for you account in Canyo App,
	  your username is: <%= @user.email %>.<br>
	</p>
	<p>
	  To reset your password in Canyo, just follow this link:
	</p>
	<a href ="<%= @reset_password_url %>"><%= @reset_password_url %></a>

</body>
</html>